/*Main text*/
html{
  scroll-behavior: smooth;
  overflow-x: hidden ;
  color: #d8d4cf;
  font-family: times new roman, 'Times New Roman';

}
body{
    background:#121212;
}
p{
  font-size: 25px;
  color: #d8d4cf;
  font-family: times new roman, 'Times New Roman';
  margin-top: 10%;
  margin-left: 25%;
}
/*homepage*/
h1{
	color: #d8d4cf;
  position: static;
  margin-left: -40%;
	font-size: 45px;
	font-family: times new roman, arial;
}

/*quote*/
h5{
  
	color: #d8d4cf;
  position: absolute;
  margin-top: 33%;
  margin-left: 20%;
	font-size: 25px;
}

/*blockquote*/
blockquote {
    color: #d8d4cf;
    backdrop-filter: blur(1px);
    font-size: 20px;
    margin-top: -25%;
    width: 30%; 
    margin-right: 40%;
    position: absolute;
}
#bq2 {
  color: #000000;
  font-weight: bold;
  font-size: 20px;
  margin-top: -35%;
  width: 25%; 
  margin-left: 60%;
  position: absolute; 

}
#bq3 {
   color: #d8d4cf;
  backdrop-filter: blur(1px);
  font-size: 45px;
  margin-top: 25%;
  width: 50%; 
  margin-left:55%;
  font-weight: bold;
  font-size: 45px;
  padding:5%;
  backdrop-filter: blur(5px);
  background-color: #b93b3ba2;
  padding: 1.5%;
  position:absolute;
}
/*For the side menus*/
/*menus overall look*/
ul {
  margin-top: 0;
    list-style-type: none ;
    width: 7.5%;
    background-color: #121212b9;
    position: fixed;
    height: 30%;
    overflow: hidden;
    font-family: times new roman, 'Times New Roman';
  }
  li a {
    display: block;
    color: white;
    padding: 8px 8px;
    text-decoration: none;
    
  }
    /*menus when hovered*/
  li a:hover(.active) {
    background-color: #663131;

  }
    /*menus when not hover*/
  li a:hover:not(.active) {
    background-color: #663131;
  }
    /*hyperlink*/
  a:link {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
  }

/*Span tag used for blockquote in page*/
span{
    width: 80%;
    background-color: #b95959;
    display: block;
    height: 5px;
    margin-top: 10%;
}
#span2{
  width: 80%;
  background-color: #b95959;
  display: block;
  height: 3px;
  margin-top: 3%;
}

/*For the different page sections*/
section{
  min-height: 100vh;
  width: 100%;
  display: flex;
}
#homepage{
  background-image: url('../img/me.JPG');
  background-repeat: no-repeat;
  background-position: 66%;
  align-items: center;
  justify-content: center;
}
#launch{
  background-image: url('../img/2.GIF');
  background-repeat: no-repeat;

  background-size: cover;
  background-attachment: fixed;
  background-position: center; 
  align-items: center;
  justify-content: center;
 
}
#roll{
  background-image: url('../img/3.JPG');
  background-repeat: no-repeat;
  background-position: 80%;
 background-size: 30%;
 background-position: fixed;
  align-items: center;
  justify-content: center;
}
#aboutme{

  align-items: center;
  justify-content: center;
}

#contact{
  align-items: center;
  justify-content: center;
}


th{
  width: 600px;
  color: #000000;
  font-weight: bold;
  font-size: 25px;
}
td,
tr {
  width: 600px;
  font-size: 15px;
  color: #ffffff;
  background-color: #d8d4cf00;
  backdrop-filter: blur(1px);
}

 div{color: #663131;
    font-size: 45px;
  }

.button{
      color:#d8d4cf;
      background-color: rgb(124, 156, 216);
      width: 7.5%;
      height: 33px;
      border-radius: 15px;
      border-color: rgb(75, 75, 139);
  
  }

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  text-align:center;
}